@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Smart Contractor<br />
    Pune, MH 411-020<br />
    <abbr title="Phone">Phone:</abbr>
    020.989.010000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@smartcontractor.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@smartcontractor.com">Marketing@example.com</a>
</address>

<div class="uvTabs">

</div>