@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Construction Analyser</h1>
    <p class="lead">This site contains helps user to maintain their construction details like daily expences, payments, labour charges, construction material charges.</p>
    <p><a href="http://www.testconstruction.com" class="btn btn-primary btn-lg">View more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">        
        <h2>Estimation Calculator</h2>
        <p>
           Estimation is the most important part in construction business hence the major emphasis is given on this area.
        </p>
        <p><a class="btn btn-default" href="">view more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Useful information</h2>
        <p>To get more details and useful links please go through below link.</p>
        <p><a class="btn btn-default" href="">More Information&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p>This is test area we can add more information in this section.</p>
        <p><a class="btn btn-default" href="">Many more.. &raquo;</a></p>
    </div>
</div>